* {
    box-sizing: border-box;
    /*font-family: Tahoma;*/
}

body {
    background: #f6dfdf;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    background: #292832;
    text-align: center;
}